@import "../../@theme/styles/themes";

@include nb-install-component() {
  height: 100%;
}

.questions{
  font-size: 18px;
  font-weight: bold;
}

.img_container{
  position:relative;
  text-align: center;
  top: 20%; /* 50% - 3/4 of icon height */
}
