<nb-card *ngIf="status=='quiz'">
  <nb-card-header>
    <p style="font-weight: bold; font-size: 24px">Ingresa tus datos</p>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <p class="questions">1.- ¿Presentas alguno de los sintomas comunes del COVID-19?</p>
    </div>
    <div class="row">
      <div class="col" >
        <nb-checkbox [(ngModel)]="answers[0][0]" (ngModelChange)="clickedOption(0, $event)">a. Fiebre</nb-checkbox><br>
        <nb-checkbox [(ngModel)]="answers[0][1]" (ngModelChange)="clickedOption(0, $event)">b. Tos seca</nb-checkbox><br>
        <nb-checkbox [(ngModel)]="answers[0][2]" (ngModelChange)="clickedOption(0, $event)">c. Dolor de cabeza</nb-checkbox><br>
        <nb-checkbox [(ngModel)]="answers[0][3]" (ngModelChange)="unselectAll(0,3, $event)">d. Ninguno</nb-checkbox><br>
      </div>
    </div>
    <div class="row">
      <p class="questions">2.- ¿Presentas alguno de los sintomas adicionales del COVID-19?</p>
    </div>

    <div class="row">
      <div class="col">
        <nb-checkbox [(ngModel)]="answers[1][0]" (ngModelChange)="clickedOption(1, $event)">a. Secreción nasal</nb-checkbox><br>
        <nb-checkbox [(ngModel)]="answers[1][1]" (ngModelChange)="clickedOption(1, $event)">b. Dolor muscular</nb-checkbox><br>
        <nb-checkbox [(ngModel)]="answers[1][2]" (ngModelChange)="clickedOption(1, $event)">c. Ojos rojos</nb-checkbox><br>
        <nb-checkbox [(ngModel)]="answers[1][3]" (ngModelChange)="clickedOption(1, $event)">d. Dolor de garganta</nb-checkbox><br>
        <nb-checkbox [(ngModel)]="answers[1][4]" (ngModelChange)="unselectAll(1,3, $event)">d. Ninguno</nb-checkbox><br>
      </div>
    </div>
    <div class="row">
      <p class="questions">3.- ¿Estas o has estado en contacto con casos sospechosos o confirmados de COVID-19?</p>
    </div>
    <div class="row">
      <div class="col">
        <nb-checkbox [(ngModel)]="answers[2][0]" (ngModelChange)="answers[2][1]=!$event">a. No</nb-checkbox><br>
        <nb-checkbox [(ngModel)]="answers[2][1]" (ngModelChange)="answers[2][0]=!$event">b. Si</nb-checkbox><br>
      </div>
    </div>
    <div class="row">
      <p class="questions">4.- ¿Has salido de la ciudad en los últimos 14 dias?</p>
    </div>
    <div class="row">
      <div class="col">
          <nb-checkbox [(ngModel)]="answers[3][0]" (ngModelChange)="answers[3][1]=!$event"> a. No</nb-checkbox><br>
          <nb-checkbox [(ngModel)]="answers[3][1]" (ngModelChange)="answers[3][0]=!$event">b. Si</nb-checkbox><br>
      </div>
    </div>
    <div class="row">
      <p class="questions">5.- ¿Has sido diagnosticado (a) por tu médico tratante con alguna enfermedad crónica degenerativa como hipertensión, diabetes, asma, bronquitis crónica, cardiovascular, del hígado, de los riñones, transplante de órganos, cáncer, inmunosupresión, y/o actualmente esta embarazada, en puerperio o periodo de lactancia?</p>
    </div>
    <div class="row">
      <div class="col">
          <nb-checkbox [(ngModel)]="answers[4][0]" (ngModelChange)="answers[4][1]=!$event">a. No</nb-checkbox><br>
          <nb-checkbox [(ngModel)]="answers[4][1]" (ngModelChange)="answers[4][0]=!$event">b. Si</nb-checkbox><br>
      </div>
    </div>
    <div class="row">
      <p>* Presentar en departamento medico el diagnostico con resumen clinico actualizado por su medico tratante.</p>
    </div>
    <div class="row">
      <div class="col">
        <button nbButton [disabled]="!allowSave()" (click)="approved()" status="primary">Siguiente</button>
        <button nbButton status="basic">Cancelar</button>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <p>Nota: La informacion que se recolecte se utilizara para determinar tu acceso inmediato a las instalaciones. Es tu obligacion notificar al departamento medico y a tu supervisor cualquier situacion que ponga en riesgo tu salud y la de tus compañeros.</p>
  </nb-card-footer>
</nb-card>
<nb-card style="height: 100%; width: 100%"  *ngIf="status == 'approved'">
  <nb-card-body class="img_container">
    <nb-icon style="width: 50%; height: 50%" status="success" [options]="{animation:{type: 'flip', hover: false}}" [icon]="'checkmark-circle-2-outline'"></nb-icon>
    <p>Acceso Permitido {{employee.employeeNumber}} {{employee.name}} {{employee.middleName}} {{employee.lastName}}
      {{employee.area}} {{employee.supervisor}} {{employee.position}} {{employee.shift}}</p>
  </nb-card-body>
</nb-card>
<nb-card style="height: 100%; width: 100%"  *ngIf="status == 'denied'">
  <nb-card-body class="img_container">
    <nb-icon style="width: 50%; height: 50%" status="danger" [options]="{animation:{type: 'shake', hover: false}}" [icon]="'close-circle-outline'"></nb-icon>
    <p>Acceso Denegado {{employee.employeeNumber}} {{employee.name}} {{employee.middleName}} {{employee.lastName}}
      {{employee.area}} {{employee.supervisor}} {{employee.position}} {{employee.shift}}</p>
  </nb-card-body>
</nb-card>
<nb-card style="height: 100%; width: 100%"  *ngIf="status == 'restricted'">
  <nb-card-body class="img_container">
    <nb-icon style="width: 50%; height: 50%" status="warning" [options]="{animation:{type: 'shake', hover: false}}" [icon]="'alert-circle-outline'"></nb-icon>
    <p>Acceso Restringido, Favor de presentarse al departamento médico de su empresa</p>
  </nb-card-body>
</nb-card>
