<nb-card class="cards-container h-100">
  <div class="row" style="width: 100%; margin: auto; margin-top: 0">
  <nb-card size="large" class="col-2 table-card h-100">
    <nb-card-header>
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">Usuarios</div>
        <div class="col-auto"><button nbButton (click)="onNewUser()" class="p-0" status="success"><nb-icon icon="plus"></nb-icon></button></div>
      </div>
    </nb-card-header>
    <nb-list >
      <nb-list-item nbButton *ngFor="let user of users"
                    class="d-flex justify-content-between align-items-center"
                    (click)="onSelectUser(user)">
        <label style="width: 100%; text-align: left">{{user.username}}</label>
          <span style="float: right">
          <button nbButton class="p-0" ghost status="danger" size="medium"
                  [swal]="{ title: 'Eliminar', text: '¿Esta seguro que desea eliminar este usuario?', icon: 'warning', showCancelButton: true}"
                  (confirm)="onDeleteUser(user)"><nb-icon icon="person-delete"></nb-icon>
          </button>
          </span>
      </nb-list-item>
    </nb-list>
  </nb-card>
  <nb-card class="col-10 table-card h-100">
    <nb-card-header>Usuarios</nb-card-header>
    <nb-card-body>
      <ng-container *ngIf="selectedUser">
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label>Nombre</label>
              <input nbInput [(ngModel)]="selectedUser.username" type="text" fullWidth (ngModelChange)="compare();">
            </div>
          </div>
          <div class="col-3">
          <div class="form-group">
            <label>Rol</label>
            <nb-select [(ngModel)]="selectedUser.rolId" fullWidth (ngModelChange)="compare()">
              <nb-option *ngFor="let rol of roles;" [value]=rol.id>{{rol.name}}</nb-option>
            </nb-select>
          </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Contraseña</label>
              <input nbInput [(ngModel)]="selectedUser.password" (ngModelChange)="passEmpty()" placeholder="Contraseña" type="password" fullWidth>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label>Confirmar Contraseña</label>
              <input nbInput [(ngModel)]="passwordValidation" (ngModelChange)="passEmpty()" placeholder="Confirmar Contraseña" type="password" fullWidth>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-auto">
            <button nbButton status="primary" [disabled]="saveButton" (click)="onSaveUser()">Guardar</button>
          </div>
          <div class="col-auto">
            <button nbButton (click)="onCancelUser()">Cancelar</button>
          </div>
        </div>
      </ng-container>
    </nb-card-body>
  </nb-card>
  </div>
</nb-card>
