<ngx-datatable
  class="bootstrap"
  [rows]="employees"
  [columnMode]="'force'"
  [headerHeight]="40"
  [footerHeight]="40"
  [limit]="10"
  [rowHeight]="'auto'">
  <ngx-datatable-column [name]="'No. Empleado'" prop="employee_number"></ngx-datatable-column>
  <ngx-datatable-column [name]="'Nombre'" prop="name"></ngx-datatable-column>
  <ngx-datatable-column [name]="'Apellido Paterno'" prop="middle_name"></ngx-datatable-column>
  <ngx-datatable-column [name]="'Apellido Materno'" prop="last_name"></ngx-datatable-column>
  <ngx-datatable-column [name]="'Actions'">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <nb-select [(ngModel)]="row.status" fullWidth (selectedChange)="onChangeStatus(row)">
        <nb-option [value]="'approved'">Aprovado</nb-option>
        <nb-option [value]="'denied'">Denegado</nb-option>
        <nb-option [value]="'restricted'">Restringido</nb-option>
      </nb-select>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
