@import "../../../@theme/styles/themes";

@include nb-install-component() {
  height: 100%;
}

:host ::ng-deep li {
  text-align: left !important;
}

.listElement {
  font-family: Open Sans, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.listElement:hover {
  color: #598bff;
}
