<nb-card>
  <nb-card-header>Leer CSV</nb-card-header>
  <nb-card-body>
    <input  nbInput type="file" id="employees" >
    <button nbButton status="primary" (click)="onClickUpload()">Subir</button>
    <button class="no-button" [nbPopoverPlacement]="position" nbButton [nbPopover]="list">
      <nb-icon icon="more-horizontal"></nb-icon>
    </button>
  </nb-card-body>
</nb-card>

<ng-template #list>
  <nb-list>
    <nb-list-item class="listElement" (click)="getEmployeeFormat()">Descargar Formato</nb-list-item>
  </nb-list>
</ng-template>
